<span>มา 4 จ่าย</span>
<div>
  <input #priceBuffetInput type="text" placeholder="ราคาบุฟเฟ่">
  <button (click)="calBuffet(priceBuffetInput.value)">คำนวณ</button><br>
  <span>คนละ {{value}} บาท</span>
  <div><img src="https://promptpay.io/0856913511/{{value}}.png"></div>
</div><br>


<div>
  <app-action-bar (counterChange)="testNumberChange($event)" [step]="5"></app-action-bar><br>
  <app-action-bar (counterChange)="testNumberChange($event)" [step]="10"></app-action-bar><br>
  <button type="button" (click)="testClick()">testEventBinding</button>
</div><br>

<div>
  <app-max-min-meter 
[minLabel]="appMinLabel" [maxLabel]="appMaxLabel"
(minChange)="doAppMinChange($event)"
(maxChange)="doAppMaxChange($event)"
></app-max-min-meter>
</div><br>


<app-sqaure-flex [divHeight]="sqaureHeight" [divWidth]="sqaureWidth"></app-sqaure-flex>
<div>
  Width:
  <button type="button" (click)="sqaureWidth=50">50px</button>
  <button type="button" (click)="sqaureWidth=100">100px</button>
  <button type="button" (click)="sqaureWidth=200">200px</button>
</div>
<div>
  Height:
  <button type="button" (click)="sqaureHeight=50">50px</button>
  <button type="button" (click)="sqaureHeight=100">100px</button>
  <button type="button" (click)="sqaureHeight=200">200px</button>
</div><br>

<app-action-bar [(counter)]="appCounter" [step]="10"></app-action-bar>
<app-sqaure-flex [divWidth]="appCounter"></app-sqaure-flex><br>

<!-- ทดลอง ทำ ngif -->
<div *ngIf="activate else elseTemplate">
  <app-action-bar></app-action-bar>
</div>
<ng-template #elseTemplate>
  <div>
    activate now
  </div>
</ng-template>

<button type="button" (click)="activate=true">activate</button><br>

<!-- ngif elseTemplate -->
<div>
  <app-action-bar [inputDisplay]="false"></app-action-bar>
<app-action-bar [inputDisplay]="true"></app-action-bar>
</div><br>

<!-- Array & ngFor วนลูปlist 
  & push(เพิ่มจากหลัง) unshift(เพิ่มจากหหน้า)
& splice(ลบindexที่กำหนดไว้)-->
<div>
  {{customerList[0]}}
  <ul>
    <li *ngFor="let customer of customerList; let i=index">{{customer}}
      <button (click)="removeCustomer(i)">remove</button>
    </li>
  </ul>
  <button (click)="pushCustomer()">push</button>
  <button (click)="unshiftCustomer()">unshift</button>
</div><br><br>

<!-- ยิง(Fetch) REST API service ด้วย HttpClientModule
สร้างหน้าค้นหา -->
<app-test-request-get></app-test-request-get><br><br>

<div>
  <p-floatLabel>
    <input id="username" type="text" pInputText [(ngModel)]="value" />
    <label for="username">Username</label>
  </p-floatLabel>
</div>
<hr>

<input (appHttpBook)="bookList = $event" type="text" >
<input (appHttpBook)="bookList = $event" type="text" >
{{bookList | json}}
<hr><br>

<app-form-test></app-form-test><hr>
<app-reactive-forms></app-reactive-forms><hr>

<app-multiple-validators></app-multiple-validators><hr><br>
<app-view-child-pop-cat></app-view-child-pop-cat>